a
{
    //text-decoration: none;
    color: rgb(112, 146, 190);
}

a:hover
{
    //text-decoration: underline;
    color : red;
    font-weight: bolder;
}

fieldset
{
    border-bottom-color: red;
    
}

fieldset legend
{
    color : black;
}

hr
{
    border-color: red;
    
}